:root {
  --dark-color: #18181b;
  --light-color: #e0dcdc;
  --main-color: #0c67f0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  max-width: 768px;
  margin: 0 auto;
  color: var(--light-color);
  background-color: var(--dark-color);
  font-family: system-ui, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}